@import "_variables.scss";
%mainBtn {
  font-size: 17px;
  padding: 7px 22px;
  background-color: $mainColor;
  border: navajowhite;
  color: #fff;
  border-radius: 2px;
  margin-top: 15px;
}
%mainP {
  // color: #464646;
  //   font-size: 14px;
  color: #576366;
  font-size: 1rem;
  line-height: 1.5;
}
%headColor {
  color: #14002c;
}
